<div class="col-md-4 offset-md-1">
<h2>Información</h2>
<form action="/newregister" method="POST" enctype="multipart/form-data">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{picPath}}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{userName}}</h5>
       
 
        <p class="card-text"><small class="text-muted">{{email}}</small></p>
                 <button class="btn btn-dark" type="submit">Regresar
  </button>
      </div>
    </div>
  </div>
</div>


  

<br>

 
  <br>

<h4>Dirección:</h4>

<p>{{meeting.location.address}}</p>
<h3>Aqui sera tu sesión:</h3>
<div id='map' style='display: inline-flex;width: 800px; height: 500px;'></div>


</div>

<p>{{mapa.location.coordinates.[0]}}</p>
<p>{{mapa.location.coordinates.[1]}}</p>
<script>
 const lat = {{mapa.location.coordinates.[0]}}
 const lng = {{mapa.location.coordinates.[1]}}
 
mapboxgl.accessToken = 'pk.eyJ1Ijoia2FyeW1vcmEiLCJhIjoiY2swZHhuaTJrMGMzYzNtc2RvMHpnNGIzdSJ9.IHxcXifUnOJ4rb2v0oTyAg';
const map = new mapboxgl.Map({
  container: "map",
  style: "mapbox://styles/mapbox/streets-v10",
  center: [lat, lng],
  zoom: 15
});
const marker = new mapboxgl.Marker({color: "red", draggable: true})
    .setLngLat([lat, lng])
    .addTo(map);


 map.addControl(new MapboxDirections({accessToken: mapboxgl.accessToken}), 'bottom-left');
    map.addControl(new mapboxgl.NavigationControl());



</script>
