    <div class="container">
      <div class="news-headline"
     class="headline">TOP THEMES </span>
    </div>
    <div class="top-themes">

    {{#each subjects}}
  <div class="card mb-3" style="max-width: 540px;" >
    <div class="row no-gutters">
      <div class="col-md-2 col-lg-4">
        <img src="https://i.ibb.co/qRphY07/animal-bee-biology-2047420.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{this.themes}}</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
            This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
{{/each}}



    </div>
    
    <a href="/viewAllSubjects" class="btn btn-primary">VER MÁS</a>
    <a href="/auth/news" class="btn btn-primary">CREAR</a>
    </div>

    <div class="container">
      <h2>TOP TEACHERS </h2>
      <div class="top-teachers">
       

   <div class="post-subject">
  <p>hola</p>
  {{#each users as |user|}}
  <p>{{user.userName}}</p>
  <p>{{user.role}}</p>
  

  {{/each}}
     
      </div>

      <a href="/viewAllTeachers" class="btn btn-primary">VER MÁS</a>
      <a href="/auth/news" class="btn btn-primary">UNIRSE</a>
    </div>
    </div>


    <div class="container">
      <h2>NEXT SESSIONS </h2>
      <div class="top-teachers">
        {{#each meetings}}
        <p>{{this.name}}</p>
        <p>{{this.address}}</p>
        {{/each}}
      </div>
      <a href="/viewAllMeetings" class="btn btn-primary">VER MÁS</a>
    </div>

    <div class="container">
      <h2>THEMES FOR YOU </h2>
      <div class="top-teachers">
        YA VIMOS QUE TE GUSTA PROGRAMAR <3<a href="/auth/news" class="btn btn-primary">VER MÁS</a>
      </div>

      <div class="container">
        <h2>STUDY GROUPS </h2>
        <div class="top-teachers">
          {{#each grupos}}
          <p>{{this.name}}</p>
          <p>{{this.themes}}</p>
          {{/each}}
          UNETE A LA FIESTA, UNETE A LA FIESTA </div>
        <a href="/viewAllGroups" class="btn btn-primary">EXPLORE GROUPS</a>
        <a href="/newgroup" class="btn btn-primary">CREATE GROUP</a>
      </div>