 <div class="container">

   <div class="the-space">
    <h2>THE SUBJECTS</h2> 
    </div>
     
    <div class="top-themes">

        {{#each subjects}}
  <div class="card mb-3" style="width: 480px;" >
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://i.ibb.co/qRphY07/animal-bee-biology-2047420.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-3">
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.themes}}</p>
          <p class="card-text"><small class="text-muted">{{this.difficulty}}</small></p>
        </div>
      </div>
    </div>
  </div>

{{/each}}


</div>

<div class=subject-buttons>
    <a href="/viewAllSubjects" class="btn btn-primary">VER MÁS</a>
 
  </div>

    <div class="container">
      <h2>TOP TEACHERS </h2>
      <div class="top-cont">
       
      {{#each users as |user|}}
      <div class="card mb-3" style="width: 480px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/qRphY07/animal-bee-biology-2047420.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">{{user.userName}}</h5>
              <p class="card-text">This is a wider card with supporting text.</p>
              <p class="card-text"><small class="text-muted">{{user.role}}</small></p>
            </div>
          </div>
        </div>
      </div>
      
      {{/each}}
      
    </div>
    </div>
    <div class=subject-buttons>
    <a href="/viewAllTeachers" class="btn btn-primary">VER MÁS</a>
    <a href="/auth/news" class="btn btn-primary">UNIRSE</a>
    </div>


    <div class="container">
      <h2>NEXT SESSIONS </h2>
      <div class="top-cont">
      {{#each meetings}}
      <div class="card mb-3" style="width: 480px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="https://i.ibb.co/qRphY07/animal-bee-biology-2047420.jpg" class="card-img" alt="...">
          </div>
          <div class="col-md-3">
            <div class="card-body">
              <h5 class="card-title">{{this.name}}</h5>
              <p class="card-text">{{this.description}}</p>
              <p class="card-text"><small class="text-muted">{{this.date}}</small></p>
            </div>
          </div>
        </div>
      </div>
      
      {{/each}}
      </div>
      </div>
      <div class=subject-buttons>
      <a href="/viewAllMeetings" class="btn btn-primary">VER MÁS</a>
      </div>

 
     

      <div class="container">
        <h2>STUDY GROUPS </h2>
        <div class="top-cont">
        {{#each grupos}}
        <div class="card mb-3" style="width: 480px;">
          <div class="row no-gutters">
            <div class="col-md-4">
              <img src="https://i.ibb.co/qRphY07/animal-bee-biology-2047420.jpg" class="card-img" alt="...">
            </div>
            <div class="col-md-3">
              <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.themes}}</p>
                <p class="card-text"><small class="text-muted">{{this.difficulty}}</small></p>
              </div>
            </div>
          </div>
        </div>
        
        {{/each}}
        </div>
        <div class=subject-buttons>
          <a href="/viewAllGroups" class="btn btn-primary">Explore Groups</a>
          <a href="/newGroup" class="btn btn-primary">Create Group</a>
        </div>

      </div>
<div id="teach-foot">
  <img src="https://i.ibb.co/1qTkNd8/bottom-news.png " />
</div>


      </div>