<h2>all sessions</h2>
<h2>holaaaa</h2>

{{#each meetings}}
<p>{{this.teacher}}</p>
<p>{{this.date}}</p>
<p>{{this.adress}}</p>
<p>{{this.description}}</p>

<img src="{{this.img}}" alt="">
{{#each this.assistants}}
<p>{{this.userName}}</p>
{{/each}}
<form action="{{this._id}}/meetingregister" method="POST" enctype="multipart/form-data">
<input type="submit" value="Registrate">
</form>
{{/each}}

