<div class="jumbotron" style="background-image: url(https://i.ibb.co/vqtB5BW/adult-chair-conversation-2422290.jpg); background-size: 100%;">
<div class="group-header-text">
  <h1 class="display-4">Grupos de estudio</h1>
  <p class="lead">Encuentra tu grupo de estudio o crea el tuyo</p>

  <p class="groups-description">Aquí encontraras los grupos disponibles</p>
     <a class="btn btn-primary btn-lg" href="/newGroup" role="button">Crea un grupo</a>
  <a class="btn btn-primary btn-lg" href="/news" role="button">Regresar</a>

  </div>
</div>

<div class="col-md-10 offset-md-1">

<div class="container">

{{#each grupos}}
<div class="card" style="width: 18rem;" id="group-card">
  <img src="{{this.img}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><p>{{this.name}}</p></h5>
    <p class="card-text"><p>{{this.themes}}</p>
    <p class="card-text">
      <p>{{this.difficulty}}</p>
    <form action="{{this._id}}/groupregister" method="POST" enctype="multipart/form-data">
    <input type="submit" value="Unirse a grupo">
    </form>
    {{#each this.assistants}}
     <p class="card-text">{{this.userName}}
    </p>
    {{/each}}
  </div>
</div>

{{/each}}
</div>

</div>


